.aquisition{
    background-color: white;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 20px;
    padding: 15px;
    margin-top: 15px;
  
    .title {
        color: #1D1D41;
        grid-template-columns: 1fr auto;
        font-family: 'Gothic A1', sans-serif;
        font-size: 20px;
    }
    .aquisition-content{
        font-size: 18px;
    }
    .aquisition-conent-item{
        margin-top: 2px;
    }
}