.candidates-by-gender{
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    height: 180px;
    
    .title{
        font-size: 20px;
    }

    .doughnut-chart{
        margin-top: -10px;
        margin-left: -50px;
    }
}