.candidates-by-gender{
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(212, 212, 212);
    margin-top: 15px;
    padding: 20px;
    height: 207px;
    
    .title {
        color: #1D1D41;
        grid-template-columns: 1fr auto;
        font-family: 'Gothic A1', sans-serif;
        font-size: 20px;
    }

    .gender-content{
        display: flex;
        align-items: center;
    }

    .doughnut-chart{
        width: 60%;
    }
    
    .legend{
        display: flex;
        align-items: center;
    }
}