.info-comp{
    background-color: white;
    font-family: 'Mulish', sans-serif;
    padding: 10px;
    border: 1px solid #ffbea4;
    border-radius: 10px;
    display: flex;
    height: 100%;

    
    .icon{
        width: 20%;
    }

    .icon-img{
        width: 100%;
    }
    .content{
        
        margin-left: 5px;
        width: 50%;
    }
    .title{
        min-height: 50px;
        font-size: 15px;
        font-weight: bold;

    }
    .number{
        font-size: 20px;

    }
    .seemore{
        
        color: #0D75BC;
        font-size: 14px;
    }
    .progress-bar{
        padding: 5px;
        margin-right: 0;
        width: 30%;
    }
    
}