.jobstatistics{
    background-color: white;
    border-radius: 20px;
    margin-top: 15px;
    padding: 20px;

    .title {
        color: #1D1D41;
        display: grid;
        grid-template-columns: 1fr auto;
        font-family: 'Gothic A1', sans-serif;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .drop-down-year{
        font-family: 'Mulish', sans-serif;
        font-size: 15px;
        border-radius: 5px;
    }
    .left-element {
        align-self: center;
        
    }
    
    .right-element {
        align-self: end;
        display: flex;
        align-items: center;

    }
    .text{
        font-size: 14px;
        margin-right: 50px;
    }
}